@-ms-viewport{
  width: device-width;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/*font-family: 'Open Sans', sans-serif;*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.widget {
  height: 515px;
  width: 1424px;
  background: url(../img/background.jpg);
  position: relative;
  top: 25%;
  margin: 0 auto;
  color: white;
}

.title {
  position: relative;
  text-align: center;
}

.title h2{
  padding-top: 40px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 33pt;
  font-weight: 600;
}

.title h4 {
  font-weight: 200;
  font-size: 18pt;
  margin-top: 5px;
}

.form {
  position: relative;
  height: 268px;
  width: 960px;
  margin: 0 auto;
  border: 1px solid white;
  background-color: #fff;
}

.member-options {
  width: 100%;
  height: 60px;
  position: relative;
}

.tab {
  position: absolute;
  width: 50%;
  height: 60px;
  text-align: center;
  border-bottom: 2px solid #dedede;
}

.member {
  left: 0;
  border-right: 1px solid #dedede;
}

.non-member {
  right: 0;
  border-left: 1px solid #dedede;
}

.tab a{
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #253b80;
  margin-top: 18px;
  left: 33%;
}

.active {
  /*put active code here*/
  border: none;
  border-bottom: 5px solid #253b80;
}

.active a {
  color: #222;
}

.terms {
  text-align: center;
  font-weight: 300;
  font-size: 14pt;
}

.terms p {
  display: inline-block;
}

.terms p a {
  color: #fff;
  padding-left: 5px;
}

/*state 1 styling */

.join-main {
  position: relative;
  height: 207px;
  width: 100%;
}

.joinup {
  position: relative;
  width: calc(80% - 10%);
  height: 45px;
  top: 20%;
  transform: translateX(20%);
}

input {
  height: 45px;
  width: 440px;
  background-color: #ffefdd;
  border: none;
  border: 1px solid #ffddb9;
  font-size: 14pt;
}

::-webkit-input-placeholder {
  padding-left: 15px;
  color: #222222;
}

button {
  position: absolute;
  width: 215px;
  height: 45px;
  margin: 0;
  padding: 0;
  right: 0;
  border: none;
  background-color: #ff992c;
  border-radius: 0.3em;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.emailSpan button span {
  position: absolute;
  left: 15px;
  top: 16px;
}

.info {
  color: #222222;
  font-weight: 400;
  font-size: 13pt;
  text-align: center;
  margin-top: 10px;
}

.info p {
  display: inline-block;
}

.info p a {
  color: #222222;
  font-weight: 400;
  font-size: 13pt;
}

/*signin styling*/

.singin {
  position: relative;
  height: 45px;
  top: 20%;
}

.signinForm {
  position: absolute;
  width: calc(80% - 10%);
  height: 45px;
  left: 15%;
  top: 40px;
  margin: 0 auto;

}

.emailInput2 {
  width: 260px;
}

.username {
  width: 240px;
}

.signinButton {
  width: 175px;
}


div.signinInfo {
  color: #222222;
  font-weight: 400;
  font-size: 13pt;
  text-align: center;
  top: 100px;
}

/*state3 style*/

.state3 {
  color: #222222;
  font-weight: 400;
  font-size: 18pt;
  text-align: center;
  margin-top: 8%;
}