@-ms-viewport{
  width: device-width;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.widget {
  height: 515px;
  width: 1424px;
  background: url(../img/background.jpg);
  position: relative;
  top: 25%;
  margin: 0 auto;
  color: white;
}

.title {
  position: relative;
  text-align: center;
}

.title h2 {
  padding-top: 40px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 33pt;
  font-weight: 600;
}

.title h4 {
  font-weight: 200;
  font-size: 18pt;
  margin-top: 5px;
}

.form {
  position: relative;
  height: 268px;
  width: 960px;
  margin: 0 auto;
  border: 1px solid white;
  background-color: #fff;
}

.member-options {
  width: 100%;
  height: 60px;
  position: relative;
}

.tab {
  position: absolute;
  width: 50%;
  height: 60px;
  text-align: center;
  border-bottom: 2px solid #dedede;
}

.member {
  left: 0;
  border-right: 1px solid #dedede;
}

.non-member {
  right: 0;
  border-left: 1px solid #dedede;
}

.tab a {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #253b80;
  margin-top: 18px;
  left: 33%;
}

.active {
  border: none;
  border-bottom: 5px solid #253b80;
}

.active a {
  color: #222;
}

.terms {
  text-align: center;
  font-weight: 300;
  font-size: 14pt;
}

.terms p {
  display: inline-block;
}

.terms p a {
  color: #fff;
  padding-left: 5px;
}

/*state 1 styling */

.join-main {
  position: relative;
  height: 207px;
  width: 100%;
}

.joinup {
  position: relative;
  width: calc(80% - 10%);
  height: 45px;
  top: 20%;
  transform: translateX(20%);
}

input {
  height: 45px;
  width: 440px;
  background-color: #ffefdd;
  border: none;
  border: 1px solid #ffddb9;
  font-size: 14pt;
}

input:placeholder-shown {
  padding-left: 12px;
  color: #222222;
}

button {
  position: absolute;
  width: 215px;
  height: 45px;
  margin: 0;
  padding: 0;
  right: 0;
  border: none;
  background-color: #ff992c;
  border-radius: 0.3em;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.emailSpan button span {
  position: absolute;
  left: 15px;
  top: 16px;
}

.info {
  color: #222222;
  font-weight: 400;
  font-size: 13pt;
  text-align: center;
  margin-top: 10px;
}

.info p {
  display: inline-block;
}

.info p a {
  color: #222222;
  font-weight: 400;
  font-size: 13pt;
}

/*state 2 styling*/

.singin {
  position: relative;
  height: 45px;
  top: 20%;
}

.signinForm {
  position: absolute;
  width: 800px;
  height: 45px;
  left: 8%;
  top: 40px;
  margin: 0 auto;

}

.emailInput2 {
  width: 300px;
  margin-right: 10px;
}

.username {
  width: 300px;
}

.signinButton {
  width: 175px;
}

div.signinInfo p {
  position: absolute;
  top: 100px;
  left: 18%;
  font-weight: 400;
  font-size: 13pt;
  color: #222222;
  text-align: center;
}

/*state3 style*/

.state3 {
  color: #222222;
  font-weight: 400;
  font-size: 18pt;
  text-align: center;
  margin-top: 8%;
}

/*responsive */

/*ipad*/

@media screen and (max-width: 1024px) {

  .widget {
    height: 455px;
    width: calc(80% - 5%);
    top: 25%;
  }

  .title h2 {
    font-size: 28pt;
  }

  .title h4 {
    font-size: 14pt;
  }

  .form {
    height: 250px;
    width: calc(80% - 5%);
  }

  .member-options {
    width: 100%;
    height: 60px;
  }

  .tab {
    width: 50%;
    height: 60px;
  }

  .member {
    left: 0;
  }

  .non-member {
    right: 0;
  }

  .tab a {
    font-size: 15px;
    margin-top: 18px;
    left: 25%;
  }

  .terms {
    font-size: 12pt;
  }

  /*state 1 styling */

  .join-main {
    height: 190px;
    width: 100%;
  }

  .joinup {
    width: calc(90% - 5%);
    height: 45px;
    top: 20%;
    right: 10%;
  }

  input {
    position: relative;
    left: 0;
    width: 245px;
  }

  ::-webkit-input-placeholder {
    padding-left: 8px;
    color: #222222;
  }

  button {
    position: absolute;
    width: 215px;
    right: 0;
    font-size: 12px;
  }

  .emailSpan button span {
    left: 15px;
    top: 16px;
  }

  .info {
    font-size: 11pt;
    margin-top: 10px;
  }

  .info p a {
    font-size: 11pt;
  }

  /*state 2 styling*/

  .signinForm {
    width: calc(90% - 5%);
    height: 45px;
    left: 9%;
    top: 20px;
  }

  .emailInput2 {
    width: 230px;
  }

  input:placeholder-shown {
    font-size: 11pt;
  }

  .username {
    width: 230px;
  }

  .signinButton {
    position: absolute;
    top: 60px;
    left: 30%;
    width: 175px;
  }

  div.signinInfo p {
    top: 120px;
    font-size: 11pt;
    left: 5%;
  }

  /*state3 style*/

  .state3 {
    font-size: 12pt;
    margin-top: 12%;
  }

}

/*iphone*/

@media screen and (max-width: 640px) {

  .widget {
    height: 520px;
    width: calc(90% - 5%);
    top: 25%;
  }

  .title h2 {
    font-size: 18pt;
  }

  .title h4 {
    font-size: 10pt;
  }

  .form {
    height: 350px;
    width: calc(80% - 5%);
  }

  .member-options {
    width: 100%;
    height: 60px;
  }

  .tab {
    width: 50%;
    height: 60px;
  }

  .tab a {
    font-size: 15px;
    margin-top: 18px;
    left: 15%;
  }

  .terms {
    margin-top: 10px;
    font-size: 10pt;
  }

  /*state 1 styling */

  .join-main {
    height: 190px;
    width: 100%;
  }

  .joinup {
    width: calc(90% - 5%);
    height: 45px;
    top: 20%;
    right: 10%;
  }

  input {
    position: relative;
    left: 14%;
    width: 245px;
  }

  ::-webkit-input-placeholder {
    padding-left: 25px;
    color: #222222;
  }

  button {
    position: absolute;
    width: 245px;
    left: 14%;
    top: 50px;
    font-size: 12px;
  }

  .emailSpan button span {
    left: 15px;
    top: 16px;
  }

  .info {
    font-size: 11pt;
    margin-top: 60px;
  }

  .info p a {
    font-size: 11pt;
  }

  /*state 2 styling*/

  .signinForm {
    width: calc(90% - 5%);
    height: 45px;
    left: 9%;
    top: 20px;
  }

  .emailInput2 {
    width: 245px;
  }

  input:placeholder-shown {
    font-size: 11pt;
  }

  .username {
    width: 245px;
  }

  .signinButton {
    position: absolute;
    top: 110px;
    left: 14%;
    width: 245px;
  }

  div.signinInfo p {
    top: 175px;
    left: 20%;
    font-size: 11pt;
    max-width: 250px;
  }

  /*state3 style*/

  .state3 {
    position: absolute;
    font-size: 12pt;
    margin-top: 12%;
    width: 300px;
    left: 7%;
  }

}

/*small phones*/

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 340px) {

  .widget {
    height: 520px;
    width: calc(100% - 5%);
  }

  .title h2 {
    font-size: 16pt;
  }

  .title h4 {
    font-size: 8pt;
  }

  .form {
    height: 350px;
    width: calc(80% - 5%);
  }

  .member-options {
    width: 100%;
    height: 60px;
  }

  .tab {
    width: 50%;
    height: 60px;
    text-align: center;
  }

  .tab a{
    position: relative;
    left: 0;
    top: 5px;
    font-size: 15px;
  }

  .terms {
    margin-top: 10px;
    font-size: 10pt;
  }

  /*state 1 styling */

  .join-main {
    height: 190px;
    width: 100%;
  }

  .joinup {
    width: calc(90% - 5%);
    height: 45px;
    top: 20%;
    right: 10%;
  }

  input {
    position: relative;
    left: 0;
    width: 245px;
  }

  ::-webkit-input-placeholder {
    padding-left: 25px;
    color: #222222;
  }

  button {
    position: absolute;
    width: 245px;
    left: 0;
    top: 50px;
    font-size: 12px;
  }

  .emailSpan button span {
    left: 15px;
    top: 16px;
  }

  .info {
    font-size: 11pt;
    margin-top: 60px;
  }

  .info p a {
    font-size: 11pt;
  }

  /*state 2 styling*/

  .signinForm {
    width: calc(90% - 5%);
    height: 45px;
    left: 9%;
    top: 20px;
  }

  .emailInput2 {
    width: 245px;
  }

  input:placeholder-shown {
    font-size: 11pt;
  }

  .username {
    width: 245px;
  }

  .signinButton {
    position: absolute;
    top: 110px;
    left: 0;
    width: 245px;
  }

  div.signinInfo p {
    top: 175px;
    left: 15%;
    font-size: 11pt;
    max-width: 200px;
  }

  /*state3 style*/

  .state3 {
    position: absolute;
    font-size: 12pt;
    margin-top: 12%;
    width: 300px;
    left: 7%;
  }

}